apiVersion: v1
kind: Service
metadata:
  name: {{ include "taskmanager.fullname" . }}
  labels:
    app: {{ include "taskmanager.name" . }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- range $key, $value := . }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
  selector:
    app: {{ include "taskmanager.name" . }}
    version: {{ .Values.blueGreen.activeSlot }}
